
{
    "extends": "airbnb",
    "env": {
        "jest": true
    },
    "settings": {
        "import/resolver": {
        "webpack": {
            "config": "./config/webpack.resolve.config.js"
        }
        }
    }
}
